In [56]:
import pandas as pd

# Replace 'your_excel_file.csv' with the actual path to your CSV file
csv_file_path_input = 'D:\\softwares\\jupyter_notebook\\archive\\food_coded2.csv'
csv_file_path_output = 'D:\\softwares\\jupyter_notebook\\archive\\output_file.csv'

# Read the CSV file into a DataFrame
df_original = pd.read_csv(csv_file_path_input)

# Display the first 2 rows of the original DataFrame
print("Original DataFrame:")
print(df_original.head(2))

# Define the new headers
new_headers = ["GPA", "Gender", "breakfast", "calories_chicken", "calories_day", "calories_scone", "coffee", "comfort_food", "comfort_food_reasons"]

# Create a new DataFrame with the specified headers
df_updated = pd.DataFrame(columns=new_headers)

# Display the first 10 rows of the new DataFrame
print("\nDataFrame with New Headers:")
print(df_updated.head(10))

# Get the current headers of the original DataFrame
current_headers = df_original.columns.tolist()

# Check if the number of new headers matches the number of current headers
if len(current_headers) == len(new_headers):
    # Create a dictionary to map current headers to new headers
    header_mapping = dict(zip(current_headers, new_headers))

    # Rename the columns in the original DataFrame
    df_original.rename(columns=header_mapping, inplace=True)
  
    # Display the original DataFrame with the updated headers
    print("\nOriginal DataFrame with Updated Headers:")
    print(df_original)
    
    # Write the original DataFrame with updated headers to a new CSV file
    df_original.to_csv(csv_file_path_output, index=False)
    print(f"\nDataFrame with updated headers has been written to '{csv_file_path_output}'")

else:
    print("Number of new headers doesn't match the number of current headers.")

Original DataFrame:
       0  1  2    3    4      5  6                            7  \
0    2.4  2  1  430  NaN  315.0  1                         none
1  3.654  1  1  610  3.0  420.0  2  chocolate, chips, ice cream

                       8
0  we dont have comfort
1   Stress, bored, anger

DataFrame with New Headers:
Empty DataFrame
Columns: [GPA, Gender, breakfast, calories_chicken, calories_day, calories_scone, coffee, comfort_food, comfort_food_reasons]
Index: []

Original DataFrame with Updated Headers:
       GPA  Gender  breakfast  calories_chicken  calories_day  calories_scone  \
0      2.4       2          1               430           NaN           315.0
1    3.654       1          1               610           3.0           420.0
2      3.3       1          1               720           4.0           420.0
3      3.2       1          1               430           3.0           420.0
4      3.5       1          1               720           2.0           420.0
..     ...     ...        ...               ...           ...             ...
120    3.5       1          1               610           4.0           420.0
121      3       1          1               265           2.0           315.0
122  3.882       1          1               720           NaN           420.0
123      3       2          1               720           4.0           420.0
124    3.9       1          1               430           NaN           315.0

     coffee                             comfort_food  \
0         1                                     none
1         2              chocolate, chips, ice cream
2         2          frozen yogurt, pizza, fast food
3         2         Pizza, Mac and cheese, ice cream
4         2             Ice cream, chocolate, chips
..      ...                                      ...
120       2  wine. mac and cheese, pizza, ice cream
121       2               Pizza / Wings / Cheesecake
122       1               rice, potato, seaweed soup
123       1             Mac n Cheese, Lasagna, Pizza
124       2             Chocolates, pizza, and Ritz.

                              comfort_food_reasons
0                            we dont have comfort
1                             Stress, bored, anger
2                                  stress, sadness
3                                          Boredom
4                       Stress, boredom, cravings
..                                             ...
120                           boredom and sadness
121                Loneliness / Homesick / Sadness
122                                        sadness
123  happiness, they are some of my favorite foods
124               hormones, Premenstrual syndrome.

[125 rows x 9 columns]

DataFrame with updated headers has been written to 'D:\softwares\jupyter_notebook\archive\output_file.csv'

In [68]:
import pandas as pd

# Replace 'your_excel_file.csv' with the actual path to your CSV file
#csv_file_path = 'D:\\softwares\\jupyter_notebook\\archive\\food_coded.csv'
csv_file_path = 'D:\\softwares\\jupyter_notebook\\archive\\hotel_bookings 2.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

#df.head(2)
df.describe()
#df.dtypes

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [77]:
df.columns
df.dtypes
df.describe(include='all')
#n = df.columns.to_list()
#print(len(n))

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
count,119390,119390.000000,119390.000000,119390.000000,119390,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,...,119390,103050.000000,6797.000000,119390.000000,119390,119390.000000,119390.000000,119390.000000,119390,119390
unique,2,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,4,NaN,NaN,NaN,3,926
top,City Hotel,NaN,NaN,NaN,August,NaN,NaN,NaN,NaN,NaN,...,No Deposit,NaN,NaN,NaN,Transient,NaN,NaN,NaN,Check-Out,21/10/2015
freq,79330,NaN,NaN,NaN,13877,NaN,NaN,NaN,NaN,NaN,...,104641,NaN,NaN,NaN,89613,NaN,NaN,NaN,75166,1461
mean,NaN,0.370416,104.011416,2016.156554,NaN,27.165173,15.798241,0.927599,2.500302,1.856403,...,NaN,86.693382,189.266735,2.321149,NaN,101.831122,0.062518,0.571363,NaN,NaN
std,NaN,0.482918,106.863097,0.707476,NaN,13.605138,8.780829,0.998613,1.908286,0.579261,...,NaN,110.774548,131.655015,17.594721,NaN,50.535790,0.245291,0.792798,NaN,NaN
min,NaN,0.000000,0.000000,2015.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,...,NaN,1.000000,6.000000,0.000000,NaN,-6.380000,0.000000,0.000000,NaN,NaN
25%,NaN,0.000000,18.000000,2016.000000,NaN,16.000000,8.000000,0.000000,1.000000,2.000000,...,NaN,9.000000,62.000000,0.000000,NaN,69.290000,0.000000,0.000000,NaN,NaN
50%,NaN,0.000000,69.000000,2016.000000,NaN,28.000000,16.000000,1.000000,2.000000,2.000000,...,NaN,14.000000,179.000000,0.000000,NaN,94.575000,0.000000,0.000000,NaN,NaN
75%,NaN,1.000000,160.000000,2017.000000,NaN,38.000000,23.000000,2.000000,3.000000,2.000000,...,NaN,229.000000,270.000000,0.000000,NaN,126.000000,0.000000,1.000000,NaN,NaN
max,NaN,1.000000,737.000000,2017.000000,NaN,53.000000,31.000000,19.000000,50.000000,55.000000,...,NaN,535.000000,543.000000,391.000000,NaN,5400.000000,8.000000,5.000000,NaN,NaN

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [1]:

my_list = [i for i in range(1, 10)]
my_list
# [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
def str_replace(text,ch):
    result = " "
    for i in text :
            if (i == ' '):
                result += ch
            else:
                result += i
    return result

text = "D t C mpBl ckFrid yS le"
ch = "a"
result_text = str_replace(text, ch)
print(result_text)

 DataCampBlackFridaySale

In [10]:
import math
def valid_square(n):
   square = int(math.sqrt(n))
   return square ** 2 == n


flag = valid_square(36) 
print(flag)

flag = valid_square(6) 
print(flag)

True
False

In [7]:
my_list = []
list_empty_flag = True
count = 0

while list_empty_flag:
    if not my_list:
        print("List is empty.")
        count += 1
        if count <= 2:
            my_list.append(10 + count)
    else:
        print("List is not empty.")
        #my_list.pop(len(my_list) -1)
        list_empty_flag = False


print("list_flag_count: " + str(len(my_list)), end=" | ")
print("List elements:", my_list, end=" ")

List is empty.
List is not empty.
list_flag_count: 1 | List elements: [11]

In [11]:
def removeDuplicates(original_list) :
    unique_elements = list(set(original_list))
    return list(set(original_list))
    


array_1 = [1,2,2,3,3,4]
removeDuplicates(array_1)
print("Original List:", array_1)
    


array_2 = [1,1,3,4,5,6,6]
removeDuplicates( array_2)
print("Original List:", array_2)

Original List: [1, 2, 2, 3, 3, 4]
Original List: [1, 1, 3, 4, 5, 6, 6]
Original List: [1, 2, 2, 3, 3, 4]
Original List: [1, 1, 3, 4, 5, 6, 6]

In [18]:
def removeDuplicates(original_list):
    # return list(set(original_list))
    if not original_list:
        return original_list
    unique_list = []
    listLength = len(original_list)
    listCounter = 0
    for i in range(1, listLength):
        if original_list[i-1] != original_list[i]:
            unique_list.append(original_list[i-1])
            listCounter += 1
    return unique_list


array_1 = []
array_1 = removeDuplicates(array_1)
print("Original List:", array_1)

array_2 = [1, 1, 3, 4, 5, 6, 6]
array_2 = removeDuplicates(array_2)
print("Original List:", array_2)

Original List: []
Original List: [1, 3, 4, 5]

In [37]:
def can_segment_str(s, dictionary):
    if not s:
        return True  # An empty string can always be segmented

    for i in range(1, len(s) + 1):
        first_substring = s[:i]
        print(f"Can segment {first_substring}", end="\n")

        if first_substring in dictionary:
            second_substring = s[i:]
            print(f" | ok {second_substring}")


            if can_segment_str(second_substring, dictionary):
                return True

    return False

# Example usage
s = "datacamp"
dictionary = ["d", "datad", "camp", "cam", "lack"]
result = can_segment_str(s, dictionary)
print(f"Can segment '{s}': {result}")

Can segment d
 | ok atacamp

Can segment a
Can segment at
Can segment ata
Can segment atac
Can segment ataca
Can segment atacam
Can segment atacamp
Can segment da
Can segment dat
Can segment data
Can segment datac
Can segment dataca
Can segment datacam
Can segment datacamp
Can segment 'datacamp': False

In [82]:
def can_segment(s, dictionary, uniqueList):
    if not s:
        return True

    for i in range(1, len(s) + 1):
        first_substring = s[0:i]

        if first_substring in dictionary:
            second_substring = s[i:]

            if can_segment(second_substring, dictionary, uniqueList):
                uniqueList.append(first_substring)
                uniqueList[:] = sorted(set(uniqueList))[::-1]
               # Remove duplicates and reverse the list in-place
               # temp_list = list(set(uniqueList))
               # temp_list.reverse()
               # uniqueList.clear()
               # uniqueList.extend(temp_list)
                return True

uniqueList = []
s = "datacamp"
dictionary = ["data", "famp", "ght", "camp"]
result = can_segment(s, dictionary, uniqueList)
print(f"Can segment {s}: {result}")
print(f"Unique and Reversed List: {uniqueList}")

Can segment datacamp: True
Unique and Reversed List: ['data', 'camp']

In [83]:
concatenated_string = ''.join(uniqueList)
print(f"Concatenated List: {concatenated_string}")

if (concatenated_string == s):
    print(f"Matched String: {concatenated_string}")
else:
    print(f"unMatch sTring: {concatenated_string} | {s}")


original_string = concatenated_string

# Convert to uppercase
uppercase_strin = original_string.upper()
print(f"Uppercase: {uppercase_string}")

# Convert to lowercase
lowercase_string = original_string.lower()
print(f"Lowercase: {lowercase_string}")

Concatenated List: datacamp
Matched String: datacamp
Uppercase: DATACAMP
Lowercase: datacamp

In [137]:
def buy_sell_stock_prices(stock_prices):
    globalBuy = stock_prices[0]
    globalSell = stock_prices[1]
    globalProfit = globalSell - globalBuy

    for i in range (1, len(stock_prices)):
        currentBuy = stock_prices[i-1]
        currentSell = stock_prices[i]
        currentProfit = currentSell - currentBuy
        print( f"Loop {i} || Buy at {currentBuy} and Sell at {currentSell} for a profit of {currentProfit}")
        

        if (currentProfit > globalProfit):
            globalProfit = currentProfit
            globalBuy =  currentBuy
            print( f"Profit Loop {i} || Buy at {currentBuy} and Sell at {currentSell} for a profit of {currentProfit}")
        

        if currentBuy > globalSell:
           currenBuy = globalSell  

    return f"Buy at {globalBuy} and Sell at {globalSell} for a profit of {globalProfit}"



stock_prices_1 = [8, 44, 12, 9, 20, 100]
#buy_sell_stock_prices(stock_prices_1)

stock_prices_2 = [18, 16, 14, 11, 10, 1]
buy_sell_stock_prices(stock_prices_2)

Loop 1 || Buy at 18 and Sell at 16 for a profit of -2
Loop 2 || Buy at 16 and Sell at 14 for a profit of -2
Loop 3 || Buy at 14 and Sell at 11 for a profit of -3
Loop 4 || Buy at 11 and Sell at 10 for a profit of -1
Profit Loop 4 || Buy at 11 and Sell at 10 for a profit of -1
Loop 5 || Buy at 10 and Sell at 1 for a profit of -9

'Buy at 11 and Sell at 16 for a profit of -1'

In [149]:
def find_buy_sell_stock_prices(stock_prices):
    if len(stock_prices) < 2:
        return "Not enough data to make a decision."

    current_buy = stock_prices[0]
    global_sell = stock_prices[1]
    global_profit = global_sell - current_buy

    current_profit = 0

    for price in stock_prices[1:]:
        current_profit = price - current_buy
        print( f"Loop  || Buy at {current_buy} and Sell at {price} for a profit of {current_profit}")
       

        if current_profit > global_profit:
            global_profit = current_profit
            global_sell = price

        if current_buy > price:
            current_buy = price

    return current_buy, global_sell

# Example usage for maximizing profit:
stock_prices_1 = [8, 44, 12, 7, 120, 100]
buy, sell = find_buy_sell_stock_prices(stock_prices_1)
print(f"Buy Price: {buy}, Sell Price: {sell}")

# Example usage for minimizing loss:
stock_prices_2 = [18, 16, 14, 11, 18, 1]
buy, sell = find_buy_sell_stock_prices(stock_prices_2)
print(f"Buy Price: {buy}, Sell Price: {sell}")

Loop  || Buy at 8 and Sell at 44 for a profit of 36
Loop  || Buy at 8 and Sell at 12 for a profit of 4
Loop  || Buy at 8 and Sell at 7 for a profit of -1
Loop  || Buy at 7 and Sell at 120 for a profit of 113
Loop  || Buy at 7 and Sell at 100 for a profit of 93
Buy Price: 7, Sell Price: 120
Loop  || Buy at 18 and Sell at 16 for a profit of -2
Loop  || Buy at 16 and Sell at 14 for a profit of -2
Loop  || Buy at 14 and Sell at 11 for a profit of -3
Loop  || Buy at 11 and Sell at 18 for a profit of 7
Loop  || Buy at 11 and Sell at 1 for a profit of -10
Buy Price: 1, Sell Price: 18

In [152]:
def has_pythagorean_triplet(arr):
    arr_squared = [x**2 for x in arr]
    arr_squared.sort()

    n = len(arr_squared)

    for i in range(n):
        left = 0
        right = n - 1

        while left < right:
            print(f"Checking triplet: {arr_squared[left]}^2 + {arr_squared[right]}^2 = {arr_squared[i]}^2")

            if arr_squared[left] + arr_squared[right] == arr_squared[i]:
                print("Pythagorean triplet found!")
                return True
            elif arr_squared[left] + arr_squared[right] < arr_squared[i]:
                left += 1
            else:
                right -= 1

    return False

# Example usage:
arr1 = [3, 1, 4, 6, 5]
print(has_pythagorean_triplet(arr1))  # Output: True

arr2 = [10, 4, 6, 12, 5]
print(has_pythagorean_triplet(arr2))  # Output: False
de

Checking triplet: 1^2 + 36^2 = 1^2
Checking triplet: 1^2 + 25^2 = 1^2
Checking triplet: 1^2 + 16^2 = 1^2
Checking triplet: 1^2 + 9^2 = 1^2
Checking triplet: 1^2 + 36^2 = 9^2
Checking triplet: 1^2 + 25^2 = 9^2
Checking triplet: 1^2 + 16^2 = 9^2
Checking triplet: 1^2 + 9^2 = 9^2
Checking triplet: 1^2 + 36^2 = 16^2
Checking triplet: 1^2 + 25^2 = 16^2
Checking triplet: 1^2 + 16^2 = 16^2
Checking triplet: 1^2 + 9^2 = 16^2
Checking triplet: 1^2 + 36^2 = 25^2
Checking triplet: 1^2 + 25^2 = 25^2
Checking triplet: 1^2 + 16^2 = 25^2
Checking triplet: 9^2 + 16^2 = 25^2
Pythagorean triplet found!
True
Checking triplet: 16^2 + 144^2 = 16^2
Checking triplet: 16^2 + 100^2 = 16^2
Checking triplet: 16^2 + 36^2 = 16^2
Checking triplet: 16^2 + 25^2 = 16^2
Checking triplet: 16^2 + 144^2 = 25^2
Checking triplet: 16^2 + 100^2 = 25^2
Checking triplet: 16^2 + 36^2 = 25^2
Checking triplet: 16^2 + 25^2 = 25^2
Checking triplet: 16^2 + 144^2 = 36^2
Checking triplet: 16^2 + 100^2 = 36^2
Checking triplet: 16^2 + 36^2 = 36^2
Checking triplet: 16^2 + 25^2 = 36^2
Checking triplet: 16^2 + 144^2 = 100^2
Checking triplet: 16^2 + 100^2 = 100^2
Checking triplet: 16^2 + 36^2 = 100^2
Checking triplet: 25^2 + 36^2 = 100^2
Checking triplet: 16^2 + 144^2 = 144^2
Checking triplet: 16^2 + 100^2 = 144^2
Checking triplet: 25^2 + 100^2 = 144^2
Checking triplet: 36^2 + 100^2 = 144^2
False

In [35]:
def max_index_diff(array): 
    n = len(array)
    i_max_value , j_max_value = 0, 0
    
    if not array:
        return False
     
    
    for i in range(0, n-1):
        for j in range(i+1, n):
             if array[j] > array[i]:
                j_max_value = max(j_max_value, j- i)
             else:
                i_max_value = max(i_max_value, i- j) 
        
    return i_max_value, j_max_value

arr1 = [20, 70, 40, 50, 12, 38, 98]
print(max_index_diff(arr1))  # Output: (0, 6, 0) (i = 0, j = 6)

arr2 = [10, 3, 2, 4, 5, 6, 7, 8, 18, 0]
print(max_index_diff(arr2))  # Output: (0, 8, 0) (i = 0, j = 8)

arr3 = []
print(max_index_diff(arr3))  # Output: False

(0, 6)
(0, 8)
False

In [3]:
def max_index_diff(array):
    max_diff = 0
    n = len(array)

    if not array or n <= 1:
        return False

    for i in range(n-1):
        for j in range(i+1, n):
            if array[j] > array[i]:
                max_diff = max(max_diff, j - i)
                print(f"Checking pair: ({i}, {j}), Difference: {j - i}")

    return max_diff

arr1 = [20, 70, 40, 50, 12, 38, 98]
print("Max Index Difference:", max_index_diff(arr1))  # Output: 6 (j = 6, i = 0)

arr2 = [10, 3, 2, 4, 5, 6, 7, 8, 18, 0]
print("Max Index Difference:", max_index_diff(arr2))  # Output: 8 (j = 8, i = 0)

Checking pair: (0, 1), Difference: 1
Checking pair: (0, 2), Difference: 2
Checking pair: (0, 3), Difference: 3
Checking pair: (0, 5), Difference: 5
Checking pair: (0, 6), Difference: 6
Checking pair: (1, 6), Difference: 5
Checking pair: (2, 3), Difference: 1
Checking pair: (2, 6), Difference: 4
Checking pair: (3, 6), Difference: 3
Checking pair: (4, 5), Difference: 1
Checking pair: (4, 6), Difference: 2
Checking pair: (5, 6), Difference: 1
Max Index Difference: 6
Checking pair: (0, 8), Difference: 8
Checking pair: (1, 3), Difference: 2
Checking pair: (1, 4), Difference: 3
Checking pair: (1, 5), Difference: 4
Checking pair: (1, 6), Difference: 5
Checking pair: (1, 7), Difference: 6
Checking pair: (1, 8), Difference: 7
Checking pair: (2, 3), Difference: 1
Checking pair: (2, 4), Difference: 2
Checking pair: (2, 5), Difference: 3
Checking pair: (2, 6), Difference: 4
Checking pair: (2, 7), Difference: 5
Checking pair: (2, 8), Difference: 6
Checking pair: (3, 4), Difference: 1
Checking pair: (3, 5), Difference: 2
Checking pair: (3, 6), Difference: 3
Checking pair: (3, 7), Difference: 4
Checking pair: (3, 8), Difference: 5
Checking pair: (4, 5), Difference: 1
Checking pair: (4, 6), Difference: 2
Checking pair: (4, 7), Difference: 3
Checking pair: (4, 8), Difference: 4
Checking pair: (5, 6), Difference: 1
Checking pair: (5, 7), Difference: 2
Checking pair: (5, 8), Difference: 3
Checking pair: (6, 7), Difference: 1
Checking pair: (6, 8), Difference: 2
Checking pair: (7, 8), Difference: 1
Max Index Difference: 8

In [4]:
def buy_sell_stock_prices(stock_prices):
    currentBuy = stock_prices[0]
    globalSell = stock_prices[1]
    globalProfit = globalSell - currentBuy

    for i in range(1, len(stock_prices)):
        currentProfit = stock_prices[i] - currentBuy

        if currentProfit > globalProfit:
            globalProfit = currentProfit
            globalSell = stock_prices[i]

        if currentBuy > stock_prices[i]:
            currentBuy = stock_prices[i]

    return globalSell - globalProfit, globalSell

stock_prices_1 = [8, 44, 12, 9, 20, 100]
print(buy_sell_stock_prices(stock_prices_1))
# (9, 23)

stock_prices_2 = [8, 6, 4, 3, 2, 1]
print(buy_sell_stock_prices(stock_prices_2))
# (6, 5)

(8, 100)
(4, 3)

In [5]:
def find_missing(input_list):

  sum_of_elements = sum(input_list)
 
  # There is exactly 1 number missing
  n = len(input_list) + 1
  actual_sum = (n * ( n + 1 ) ) / 2
 
  return int(actual_sum - sum_of_elements)
list_1 = [4	,5	,3	,2	,7	,1	,6]


find_missing(list_1)
# 2

8

In [6]:
def buy_sell_stock_prices(stock_prices):
    if len(stock_prices) < 2:
        return "Not enough data to make a profit."

    globalBuy = stock_prices[0]
    globalSell = stock_prices[1]
    globalProfit = globalSell - globalBuy

    for i in range(1, len(stock_prices)):
        currentBuy = stock_prices[i - 1]
        currentSell = stock_prices[i]
        currentProfit = currentSell - currentBuy

        if currentProfit > globalProfit:
            globalProfit = currentProfit
            globalSell = currentSell
            globalBuy = currentBuy

    #if globalProfit <= 0:
     #   return "No profit can be made."

    return f"Buy at {globalBuy} and Sell at {globalSell} for a profit of {globalProfit}"

stock_prices_1 = [8, 4, 12, 9, 20, 100]
print(buy_sell_stock_prices(stock_prices_1))

stock_prices_2 = [8, 6, 5, 4, 3, 2, 1]
print(buy_sell_stock_prices(stock_prices_2))

Buy at 20 and Sell at 100 for a profit of 80
Buy at 6 and Sell at 5 for a profit of -1

In [8]:
def can_segment_str(s, dictionary):
    for i in range(1, len(s) + 1):
        first_str = s[0:i]
        if first_str in dictionary:
            second_str = s[i:]
            if (
                not second_str
                or second_str in dictionary
                or can_segment_str(second_str, dictionary)
            ):
                return True
    return False

s = "datacamp"
dictionary = ["data", "camp", "cam", "lack"]
result = can_segment_str(s, dictionary)
print(result)
# Output: True

True

In [9]:
import pandas as pd
import numpy as np

# dictionary of lists
dict = {'id':[1, 4, np.nan, 9],
        'Age': [30, 45, np.nan, np.nan],
        'Score':[np.nan, 140, 180, 198]}

# creating a DataFrame
df = pd.DataFrame(dict)

df.isnull().sum()
# id       1
# Age      2
# Score    1

id       1
Age      2
Score    1
dtype: int64

In [17]:
# drop missing values
print(df)
df.dropna(axis = 0, how ='any')
print(df)

#fillna
df = df.ffill()
print(df)


#df.fillna(method ='bfill')

#replace null values with -999
df.replace(to_replace = np.nan, value = -999)
print(df)



# Interpolate
df.interpolate(method ='linear', limit_direction ='forward')
print(df)

    id   Age  Score
0  1.0  30.0    NaN
1  4.0  45.0  140.0
2  4.0  45.0  180.0
3  9.0  45.0  198.0
    id   Age  Score
0  1.0  30.0    NaN
1  4.0  45.0  140.0
2  4.0  45.0  180.0
3  9.0  45.0  198.0
    id   Age  Score
0  1.0  30.0    NaN
1  4.0  45.0  140.0
2  4.0  45.0  180.0
3  9.0  45.0  198.0
    id   Age  Score
0  1.0  30.0    NaN
1  4.0  45.0  140.0
2  4.0  45.0  180.0
3  9.0  45.0  198.0
    id   Age  Score
0  1.0  30.0    NaN
1  4.0  45.0  140.0
2  4.0  45.0  180.0
3  9.0  45.0  198.0

In [8]:
from urllib.parse import urlparse

# Step 1: Find the domain of each email
def extract_email_domains(emails):
    domains = []
    for email in emails:
        at_index = email.find('@')
        if at_index != -1:
            domain = email[at_index + 1:]
            if domain.startswith('www.'):
                domain = domain[4:]
            domains.append(domain)
    return domains

# Step 2: Find the domains of each URL
def extract_url_domains(urls):
    domains = []
    for url in urls:
        # Remove 'www.' if present
        url = url.replace('www', '')
        # Find the index of the first dot after removing 'www.'
        dot_index = url.find('.')
        if dot_index != -1:
            domain = url[dot_index + 1:]
            domains.append(domain)
    return domains

# Step 3: Count the number of times each URL, ignoring irrelevant ones
def count_url_occurrences(email_domains, url_domains):
    counts = {url: 0 for url in url_domains}
    '''counts = {}
    for url in counts:
        urlCounts[url] = 0
     '''
    for domain in email_domains:
        if domain in counts:
            counts[domain] += 1

    return counts
# Step 4: Return the dictionary with 'www' attached
def add_www_prefix(counts):
    www_counts = {}
    for domain, count in counts.items():
        www_domain = 'www.' + domain
        www_counts[www_domain] = count
    return www_counts

# Test Cases
emails = ['foo@a.com', 'bar@a.com', 'baz@b.com', 'qux@d.com']
urls = ['www.a.com', 'www.b.com', 'www.c.com']


# Test Step 1
email_domains = extract_email_domains(emails)
print("Step 1:", email_domains)

# Test Step 2
url_domains = extract_url_domains(urls)
print("Step 2:", url_domains)

# Test Step 3
counts = count_url_occurrences(email_domains, url_domains)
print("Step 3:", counts)

# Test Step 4
www_counts = add_www_prefix(counts)
print("Step 4:", www_counts)

Step 1: ['a.com', 'a.com', 'b.com', 'd.com']
Step 2: ['a.com', 'b.com', 'c.com']
Step 3: {'a.com': 2, 'b.com': 1, 'c.com': 0}
Step 4: {'www.a.com': 2, 'www.b.com': 1, 'www.c.com': 0}

In [15]:
def most_frequent_element(lst):
    # Create a dictionary to store the frequency of each element
    elements = {x:0 for x in lst}
            
    for li in lst:
        if li in elements :
          elements[li] += 1

    maximum = max(elements, key=elements.get)
    minimum = min(elements, key=elements.get)
    return maximum , minimum , elements
        
# Example usage:
my_list = [1, 2, 3, 2, 4, 2, 5, 2, 6, 2, 7]
result = most_frequent_element(my_list)
print("Most frequent element:", result)

Most frequent element: (2, 1, {1: 1, 2: 5, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1})

In [10]:
def reverse_except_alphabets(s):
    # Convert string to list to make it mutable
    new_list =list(s)
   # print(f"{new_list}") 
    i = 0 
    j = len(new_list) -1
    while(i<j):
        if new_list[j].isalpha() and new_list[i].isalpha():
            new_list[i], new_list[j] = new_list[j], new_list[i]
            i += 1
            j -= 1
        elif not new_list[i].isalpha():
            i += 1
        else:
             j -= 1
        #print(f"{new_list}") 
            
    return '|'.join(new_list)


# Example usage:
string = "abc123de9856cf456zyx"
result = reverse_except_alphabets(string)
print("Original string:", string)
print("Reversed string except for alphabets:", result)

Original string: abc123de9856cf456zyx
Reversed string except for alphabets: x|y|z|1|2|3|f|c|9|8|5|6|e|d|4|5|6|c|b|a

In [13]:
a = lambda x : x + 10
a(5)

15

In [17]:
import numpy as np

def euclidean_distance(series1, series2):
    series1 = np.array(series1)
    series2 = np.array(series2)

    distance = np.sqrt(np.sum(np.square(series1 - series2)))   
    return distance

# Example usage:
series1 = [1, 2, 3]
series2 = [4, 5, 6]
distance = euclidean_distance(series1, series2)
print("Euclidean Distance:", distance)

Euclidean Distance: 5.196152422706632

In [35]:
from itertools import combinations
def combine(n, k):
    mylist = []
    combs  = combinations([ x for x in range(1 , n+1)  ],k)
    for comb in combs:
     mylist.append(comb)

    return mylist
    
    
# Example usage:
n = 4

k = 3
print(combine(n, k))
print(f"(K:{k},n:{n})")

[(1, 2, 3), (1, 2, 4), (1, 3, 4), (2, 3, 4)]
(K:3,n:4)

In [14]:
def factorial(x):
    result = 1
    if x < 0 : 
        return -1
    elif x == 0 or x == 1 : 
        return 1
    else:
       #return  x * factorial(x-1)
        for i in range(1, x + 1):
            result *= i
        return result

print(factorial(-2))
print(factorial(1))
print(factorial(5))
print(factorial(100))

-1
1
120
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [60]:
def find_first_recurring_character(string):
    seen_characters = { char :0 for char in string }
    #print(seen_characters)
    for char in string:
        seen_characters[char] += 1
        if seen_characters[char] > 1:
            print(seen_characters, end = "\n")
            #max_value = max(seen_characters.values())
            #print("max_value: " + str(max_value))
            #return max_value
            return char
    return "None"
    
input_string = "acvingonsalves"
output = find_first_recurring_character(input_string)
print("First recurring character:", output)

{'a': 1, 'c': 1, 'v': 1, 'i': 1, 'n': 2, 'g': 1, 'o': 1, 's': 0, 'l': 0, 'e': 0}
First recurring character: n

In [ ]:
print("ashok">"Ashok")
def foo(numbers):
    for i in range(len(numbers)):
        numbers[i] += 1

my_list = [1, 2, 3, 4]
foo(my_list)
print(my_list)

SyntaxError: invalid syntax (846085541.py, line 10)

In [ ]:
x=[i : i+2 for i in range(5)]

In [30]:

def find_first_recurring_character(string):
    seen_characters = {char: 0 for char in string}
    print(seen_characters)
    for char in string:
        if seen_characters[char] >= 1:
            return char
        seen_characters[char] += 1
    print(seen_characters)
    return "None"
    
input_string = "pythoninterviewquestion"
output = find_first_recurring_character(input_string)
print("First recurring character:", output)

{'p': 0, 'y': 0, 't': 0, 'h': 0, 'o': 0, 'n': 0, 'i': 0, 'e': 0, 'r': 0, 'v': 0, 'w': 0, 'q': 0, 'u': 0, 's': 0}
First recurring character: n

Step 1: ['a.com', 'a.com', 'b.com', 'd.com']
Step 2: ['a.com', 'b.com', 'c.com']
Step 3: {'a.com': 2, 'b.com': 1, 'c.com': 0}
Step 4: {'www.com': 0}

1.0

{'a.com': 2, 'b.com': 1, 'c.com': 0}